/* filterDiv style  */
.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    text-align: center;
    margin: 1px;
    display: none;
    border: none;
    outline: none;
    padding: 10px 30px;
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    margin-top: 1px;
    padding: 10px 30px;
    background-color: #666;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}